node_modules/
build/
backend/database.db
*.js
*.txt
!package.json
!package-lock.json
!backend/app.py
!backend/database_schema.sql
!index.html
!requirements.txt
!build.js
!selenium-tests/**
selenium-tests/node_modules/
!dump.json

